<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Flat Profile App A Mobile App Flat Bootstrap Responsive Website Template | Single :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Flat Profile App Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android  Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta charset utf="8">
       <!--font-awsome-css-->
<link rel="stylesheet" href="css/font-awesome.min.css"> 
		<!--bootstrap-->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<!--custom css-->
<link href="css/style.css" rel="stylesheet" type="text/css"/>
<!--component-css-->
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
			 <!--script-->
<script src="js/bigSlide.js"></script>
    <script>
		$(document).ready(function() {
		$('.menu-link').bigSlide();
	});
    </script>
            <!--script-->
<script src="js/responsiveslides.min.js"></script>
	 <script>
		$(function () {
		  $("#slider").responsiveSlides({
			auto: true,
			nav: true,
			speed: 500,
			namespace: "callbacks",
			pager: true,
		  });
		});
	  </script>
		<!--script-->
		<script src="js/pie-chart.js" type="text/javascript"></script>
 <script type="text/javascript">

        $(document).ready(function () {
           
			 $('#demo-pie-1').pieChart({
                barColor: '#68b828',
                trackColor: '#E4E2E2',
                lineCap: 'butt',
                lineWidth: 10,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-2').pieChart({
                barColor: '#5bc0de',
                trackColor: '#E4E2E2',
                lineCap: 'butt',
                lineWidth: 10,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-3').pieChart({
                barColor: '#d9534f',
                trackColor: '#E4E2E2',
                lineCap: 'square',
                lineWidth: 10,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

           
        });

    </script>
<link href='//fonts.googleapis.com/css?family=Josefin+Sans:400,700italic,700,600italic,400italic,600,300italic,300,100italic,100' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="body-back">
		<div class="masthead pdng-stn1">
			<div id="menu" class="panel" role="navigation">
				<div class="wrap-content">
					<div class="search">
						<form>
							<input type="search" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" required="">
							<input type="submit" value=" ">
						</form>
					</div> 
					<div class="profile-menu text-center">
						<img class="img-circle border-effect" src="images/pic3.png" alt=" ">
							<h3>Robb Hatman</h3>
								<h4><a href="#">Admin</a></h4>
							<div class="social-icon">
							<ul>
								<li><a href="#" class="facebook"><i class="fa fa-facebook"></i> facebook</a></li>
								<li><a href="#" class="twitter"><i class="fa fa-twitter"></i> twitter</a></li>
								<li><a href="#" class="google"><i class="fa fa-google"></i> google</a></li>
							</ul>
							</div>
					</div>
				</div>
			</div>
			<div class="phone-box wrap push">
				<div class="menu-notify">
					<div class="profile-left">
						<a href="#menu" class="menu-link"><i class="fa fa-chevron-left"></i></a>
					</div>
					<div class="Profile-mid">
						<h5 class="pro-link">Profile</h5>
					</div>
					<div class="Profile-right">
						<div id="dd1" class="wrapper-dropdown-1" tabindex="1"><i class="fa fa-gear"></i>
							<ul class="dropdown">
								<li><a href="#">Edit Profile </a></li>
								<li><a href="#">Help</a></li>
								<li><a href="#">Activity log</a></li>
								<li><a href="#">Log Out</a></li>
							</ul>
								<script type="text/javascript">
															function DropDown(el) {
																this.dd = el;
																this.initEvents();
															}
															DropDown.prototype = {
																initEvents : function() {
																	var obj = this;
												
																	obj.dd.on('click', function(event){
																		$(this).toggleClass('active');
																		event.stopPropagation();
																	});	
																}
															}
															$(function() {
												
																var dd = new DropDown( $('#dd1') );
												
																$(document).click(function() {
																	// all dropdowns
																	$('.wrapper-dropdown-1').removeClass('active');
																});
												
															});
								</script>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="detalis-grids">			
					<div class="details-grid">
					</div>
					<div class="details-shade">
						<div class="details-img">
							<img class="img-circle border-effect1" src="images/pic3.png" alt=" " />
						</div>
						<h3>jhon doc</h3>
						<span>06-586 478 4581</span>
						<p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
					</div>
					<div class="follow">
						<div class="follow-grids">
							<div class="col-sm-4 follow-left text-center">
								<h4>Post</h4>
								<p>15,721</p>
							</div>
							<div class="col-sm-4 follow-left text-center">
								<h4>Following</h4>
								<p>1,971</p>
							</div>
							<div class="col-sm-4 follow-left text-center">
								<h4>Followers</h4>
								<p>1,500</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<a href="#" class="button hvr-sweep-to-bottom">Follow</a>
					</div>
				</div>
				<div class="menu-notify">
					<div class="profile-left">
						<a href="#menu" class="menu-link"><i class="fa fa-chevron-left"></i></a>
					</div>
					<div class="Profile-mid">
						<h5 class="pro-link">Profile</h5>
					</div>
					<div class="Profile-right">
						<div id="dd2" class="wrapper-dropdown-2" tabindex="1"><i class="fa fa-gear"></i>
							<ul class="dropdown">
								<li><a href="#">Edit Profile </a></li>
								<li><a href="#">Help</a></li>
								<li><a href="#">Activity log</a></li>
								<li><a href="#">Log Out</a></li>
							</ul>
								<script type="text/javascript">
															function DropDown(el) {
																this.dd = el;
																this.initEvents();
															}
															DropDown.prototype = {
																initEvents : function() {
																	var obj = this;
												
																	obj.dd.on('click', function(event){
																		$(this).toggleClass('active');
																		event.stopPropagation();
																	});	
																}
															}
															$(function() {
												
																var dd = new DropDown( $('#dd2') );
												
																$(document).click(function() {
																	// all dropdowns
																	$('.wrapper-dropdown-2').removeClass('active');
																});
												
															});
								</script>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="profile-grids">
					<div class="slider">
						<div class="callbacks_container">
							<ul class="rslides" id="slider">
								<li>	
									<div class="caption">
									<img class="img-circle border-effect1" src="images/pic3.png" alt=" ">
										<h3>Sara Ellis</h3>
										<span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, </span>          
										<div class="follow-grds">
											<div class="col-sm-4 follow-grid">
												<div class="follow-top">
													<p>14,721</p>
												</div>
												<h4>Post</h4>
											</div>
											<div class="col-sm-4 follow-grid ">
												<div class="follow-top">
													<p>1,271</p>
												</div>
												<h4>Following</h4>
											</div>
											<div class="col-sm-4 follow-grid">
												<div class="follow-top">
													<p>1,900</p>
												</div>
												<h4>Followers</h4>
											</div>
											<div class="clearfix"></div>
										</div>
										<a href="#" class="button hvr-sweep-to-bottom">Follow</a>
									</div>
								</li>
								<li>
									<div class="caption">
										<img class="img-circle border-effect1" src="images/pic4.png" alt=" ">
										<h3>Victoria Parker</h3>  
										<span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, </span>          
										<div class="follow-grds">
											<div class="col-sm-4 follow-grid">
												<div class="follow-top">
													<p>20,021</p>
												</div>
												<h4>Post</h4>
											</div>
											<div class="col-sm-4 follow-grid">
												<div class="follow-top">
													<p>1,671</p>
												</div>
												<h4>Following</h4>
											</div>
											<div class="col-sm-4 follow-grid">
												<div class="follow-top">
													<p>1,300</p>
												</div>
												<h4>Followers</h4>
											</div>
											<div class="clearfix"></div>
										</div>
										<a href="#" class="button hvr-sweep-to-bottom">Follow</a>
									</div>
								</li>
								<li>	
									<div class="caption">
										<img class="img-circle border-effect1" src="images/pic5.png" alt=" ">
										<h3>Sara Ellis</h3>
										<span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, </span>          
										<div class="follow-grds">
											<div class="col-sm-4 follow-grid">
												<div class="follow-top">
													<p>15,721</p>
												</div>
												<h4>Post</h4>
											</div>
											<div class="col-sm-4 follow-grid">
												<div class="follow-top">
													<p>1,971</p>
												</div>
												<h4>Following</h4>
											</div>
											<div class="col-sm-4 follow-grid">
												<div class="follow-top">
													<p>1,500</p>
												</div>
												<h4>Followers</h4>
											</div>
											<div class="clearfix"></div>
										</div>
										<a href="#" class="button">Follow</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="menu-notify">
					<div class="profile-left">
						<a href="#menu" class="menu-link"><i class="fa fa-chevron-left"></i></a>
					</div>
					<div class="Profile-mid">
						<h5 class="pro-link">Profile</h5>
					</div>
					<div class="Profile-right">
						<div id="dd4" class="wrapper-dropdown-4" tabindex="1"><i class="fa fa-gear"></i>
							<ul class="dropdown">
								<li><a href="#">Edit Profile </a></li>
								<li><a href="#">Help</a></li>
								<li><a href="#">Activity log</a></li>
								<li><a href="#">Log Out</a></li>
							</ul>
								<script type="text/javascript">
															function DropDown(el) {
																this.dd = el;
																this.initEvents();
															}
															DropDown.prototype = {
																initEvents : function() {
																	var obj = this;
												
																	obj.dd.on('click', function(event){
																		$(this).toggleClass('active');
																		event.stopPropagation();
																	});	
																}
															}
															$(function() {
												
																var dd = new DropDown( $('#dd4') );
												
																$(document).click(function() {
																	// all dropdowns
																	$('.wrapper-dropdown-4').removeClass('active');
																});
												
															});
								</script>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<!--tab-section-->
					<div class="profile-gids">
						<img class="img-circle border-effect1" src="images/pic3.png" alt=" ">
						<h3>Mill Franklin</h3>  
						<p></p>
					</div>
					<!---tab--->
						<div class="tab-prices">
						<div class="container">
							<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
								<ul id="myTab" class="nav nav-tabs left-tab" role="tablist">
									<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Details</a></li>
									<li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Author</a></li>
									<li role="presentation"><a href="#profile1" role="tab" id="profile1-tab" data-toggle="tab" aria-controls="profile1">Posts</a></li>
									</ul>
								<div id="myTabContent" class="tab-content">
									<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
										<div class="profile-content">
											<form>
												<div>
												<h4>User Name</h4>	
												<input type="text" placeholder="Franklin" required="">
												</div>
												<div class="email">
												<h4>Email</h4>	
												<input type="text" placeholder="example@mail.com" required="">
												</div>
												<div>
												<h4>Phone Number</h4>	
												<input type="text" placeholder="123-456-7890" required="">
													<!--<ul class="radio">
														<li> <input type="radio" name="gender" value="male"> Male</li>
														<li><input type="radio" name="gender" value="female"> Female</li>
													</ul>-->
												<input type="submit" value="update">
												</div>
											</form>	
										</div>
									</div>
									<div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
										<div class="tab-grids tab1">
											<div class="col-sm-4 tab-grid">
											<img src="images/1.jpg" alt=" " class="img-responsive">
											</div>
											<div class="col-sm-8 tab-grid1">
												<div class="tab-left">
												<h3>Mill Franklin</h3>
												</div>
												<div class="tab-right">
													<ul>
														<li><a href="#"><i class="fa fa-facebook"></i></a></li>
														<li><a href="#"><i class="fa fa-twitter"></i></a></li>
														<li><a href="#"><i class="fa fa-google"></i></a></li>

													</ul>
												</div>
												<div class="clearfix"></div>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, </p>          
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane fade" id="profile1" aria-labelledby="profile1-tab">
										<div class="tab-grids">
											<div class="col-sm-4 tab-grid">
											<img src="images/2.jpg" alt=" " class="img-responsive">
											</div>
											<div class="col-sm-8 tab-grid1">
												<div class="tab-left">
												<h3>James Robert</h3>
												</div>
												<div class="tab-right">
													<ul>
														<li><a href="#"><i class="fa fa-facebook"></i></a></li>
														<li><a href="#"><i class="fa fa-twitter"></i></a></li>
														<li><a href="#"><i class="fa fa-google"></i></a></li>

													</ul>
												</div>
												<div class="clearfix"></div>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, </p>          
											</div>
											<div class="clearfix"></div>
										</div>
										<div class="tab-grids">
											<div class="col-sm-4 tab-grid">
											<img src="images/1.jpg" alt=" " class="img-responsive">
											</div>
											<div class="col-sm-8 tab-grid1">
												<div class="tab-left">
												<h3>Mill Franklin</h3>
												</div>
												<div class="tab-right">
													<ul>
														<li><a href="#"><i class="fa fa-facebook"></i></a></li>
														<li><a href="#"><i class="fa fa-twitter"></i></a></li>
														<li><a href="#"><i class="fa fa-google"></i></a></li>

													</ul>
												</div>
												<div class="clearfix"></div>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, </p>          
											</div>
											<div class="clearfix"></div>
										</div>
										<div class="tab-grids tab1">
											<div class="col-sm-4 tab-grid">
											<img src="images/3.jpg" alt=" " class="img-responsive">
											</div>
											<div class="col-sm-8 tab-grid1">
												<div class="tab-left">
												<h3>Michael Crisp</h3>
												</div>
												<div class="tab-right">
													<ul>
														<li><a href="#"><i class="fa fa-facebook"></i></a></li>
														<li><a href="#"><i class="fa fa-twitter"></i></a></li>
														<li><a href="#"><i class="fa fa-google"></i></a></li>

													</ul>
												</div>
												<div class="clearfix"></div>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, </p>          
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--tab-->
				<!--tab-section-->
				<!--profile-->
				<div class="menu-notify">
					<div class="profile-left">
						<a href="#menu" class="menu-link"><i class="fa fa-chevron-left"></i></a>
					</div>
					<div class="Profile-mid">
						<h5 class="pro-link">Profile</h5>
					</div>
					<div class="Profile-right">
						<div id="dd3" class="wrapper-dropdown-4" tabindex="1"><i class="fa fa-gear"></i>
							<ul class="dropdown">
								<li><a href="#">Edit Profile </a></li>
								<li><a href="#">Help</a></li>
								<li><a href="#">Activity log</a></li>
								<li><a href="#">Log Out</a></li>
							</ul>
								<script type="text/javascript">
															function DropDown(el) {
																this.dd = el;
																this.initEvents();
															}
															DropDown.prototype = {
																initEvents : function() {
																	var obj = this;
												
																	obj.dd.on('click', function(event){
																		$(this).toggleClass('active');
																		event.stopPropagation();
																	});	
																}
															}
															$(function() {
												
																var dd = new DropDown( $('#dd3') );
												
																$(document).click(function() {
																	// all dropdowns
																	$('.wrapper-dropdown-3').removeClass('active');
																});
												
															});
								</script>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<!--profile-grid-->
					<div class="profile-gids">
						<img class="img-circle border-effect1" src="images/pic4.png" alt=" ">
						<h3>Mill Franklin</h3>  
						<p></p>
					</div>
					<div class="social-influnce">
						<h3>social-influnce</h3>
						<h4>facebbok</h4>
							<div class="progress">
							  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
								<span class="sr-only">40% Complete (success)</span>
							  </div>
							</div>
						<h4>twitter</h4>
						<div class="progress">
						  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
							<span class="sr-only">20% Complete</span>
						  </div>
						</div>
						<h4>google</h4>
						<div class="progress">
						  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
							<span class="sr-only">60% Complete (warning)</span>
						  </div>
						</div>
						<h4>youtube</h4>
						<div class="progress">
						  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
							<span class="sr-only">80% Complete (danger)</span>
						  </div>
						</div>
					</div>
					<div class="skil-grids">
						<div class="col-sm-4 skil-grid">
							<div class="skil-top">
								<div id="demo-pie-1" class="pie-title-center" data-percent="25"> <span class="pie-value"></span> </div>
							</div>
							<h4>Photos</h4>
						</div>
						<div class="col-sm-4 skil-grid">
							<div class="skil-top2">
								<div id="demo-pie-2" class="pie-title-center" data-percent="50"> <span class="pie-value"></span> </div>
							</div>
							<h4>Followers</h4>
						</div>
						<div class="col-sm-4 skil-grid">
							<div class="skil-top3">
							<div id="demo-pie-3" class="pie-title-center" data-percent="75"> <span class="pie-value"></span> </div>
							</div>
							<h4>Following</h4>
						</div>
						<div class="clearfix"></div>
					</div>
				<!--profile-grid-->
				<div class="menu-notify">
					<div class="profile-left">
						<a href="#menu" class="menu-link"><i class="fa fa-chevron-left"></i></a>
					</div>
					<div class="Profile-mid">
						<h5 class="pro-link">Profile</h5>
					</div>
					<div class="Profile-right">
						<div id="dd5" class="wrapper-dropdown-4" tabindex="1"><i class="fa fa-gear"></i>
							<ul class="dropdown">
								<li><a href="#">Edit Profile </a></li>
								<li><a href="#">Help</a></li>
								<li><a href="#">Activity log</a></li>
								<li><a href="#">Log Out</a></li>
							</ul>
								<script type="text/javascript">
															function DropDown(el) {
																this.dd = el;
																this.initEvents();
															}
															DropDown.prototype = {
																initEvents : function() {
																	var obj = this;
												
																	obj.dd.on('click', function(event){
																		$(this).toggleClass('active');
																		event.stopPropagation();
																	});	
																}
															}
															$(function() {
												
																var dd = new DropDown( $('#dd5') );
												
																$(document).click(function() {
																	// all dropdowns
																	$('.wrapper-dropdown-5').removeClass('active');
																});
												
															});
								</script>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="profile-grid5">
					<div class="profile-grid5-top">
						<div class="profile-grid5-left">
							<img src="images/pic5.png" alt=" ">
						</div>
						<div class="profile-grid5-right">
							<h4>Michael Crisp</h4>
							<p>Photographer</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="gallery">
						<h2>gallery</h2>
						<div class="col-md-4 port-grids view view-fourth">
							<img src="images/img1.jpg" class="img-responsive" alt=""/>
							<div class="mask">
								<p>profile</p>
							</div>
						</div>
						<div class="col-md-4 port-grids view view-fourth">
							<img src="images/img2.jpg" class="img-responsive" alt=""/>
							<div class="mask">
								<p>profile</p>
							</div>
						</div>
						<div class="col-md-4 port-grids view view-fourth">
							<img src="images/img3.jpg" class="img-responsive" alt=""/>
							<div class="mask">
								<p>profile</p>
							</div>
						</div>
						<div class="col-md-4 port-grids view view-fourth">
							<img src="images/img4.jpg" class="img-responsive" alt=""/>
							<div class="mask">
								<p>profile</p>
							</div>
						</div>
						<div class="col-md-4 port-grids view view-fourth">
							<img src="images/img5.jpg" class="img-responsive" alt=""/>
							<div class="mask">
								<p>profile</p>
							</div>
						</div>
						<div class="col-md-4 port-grids view view-fourth">
							<img src="images/img6.jpg" class="img-responsive" alt=""/>
							<div class="mask">
								<p>profile</p>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="menu-notify">
					<div class="profile-left">
						<a href="#menu" class="menu-link"><i class="fa fa-chevron-left"></i></a>
					</div>
					<div class="Profile-mid">
						<h5 class="pro-link">Profile</h5>
					</div>
					<div class="Profile-right">
						<div id="dd6" class="wrapper-dropdown-4" tabindex="1"><i class="fa fa-gear"></i>
							<ul class="dropdown">
								<li><a href="#">Edit Profile </a></li>
								<li><a href="#">Help</a></li>
								<li><a href="#">Activity log</a></li>
								<li><a href="#">Log Out</a></li>
							</ul>
								<script type="text/javascript">
															function DropDown(el) {
																this.dd = el;
																this.initEvents();
															}
															DropDown.prototype = {
																initEvents : function() {
																	var obj = this;
												
																	obj.dd.on('click', function(event){
																		$(this).toggleClass('active');
																		event.stopPropagation();
																	});	
																}
															}
															$(function() {
												
																var dd = new DropDown( $('#dd6') );
												
																$(document).click(function() {
																	// all dropdowns
																	$('.wrapper-dropdown-6').removeClass('active');
																});
												
															});
								</script>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="detalis-grids">			
					<div class="details-grid">
					</div>
					<div class="details-shade">
						<div class="details-img">
							<img class="img-circle border-effect1" src="images/pic3.png" alt=" " />
						</div>
						<h3>jhon doc</h3>
						<span>06-586 478 4581</span>
						<p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
					</div>
					<div class="icons">
						<div class="icons-grids">
							<div class="col-sm-4 icons-grid">
								<div class="icon1">
									<i class="fa fa-comment"></i>
								</div>
								<h5>comment</h5>
							</div>
							<div class="col-sm-4 icons-grid">
								<div class="icon1">
								<i class="fa fa-dashboard"></i>
								</div>
								<h5>dashboard</h5>
							</div>
							<div class="col-sm-4 icons-grid">
									<div class="icon1">
									<i class="fa fa-map-marker"></i>
									</div>
								<h5>place</h5>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="icons-grids">
							<div class="col-sm-4 icons-grid">
								<div class="icon1">
									<i class="fa fa-envelope"></i>
								</div>
								<h5>message</h5>
							</div>
							<div class="col-sm-4 icons-grid">
								<div class="icon1">
								<i class="fa fa-feed"></i>
								</div>
								<h5>feed</h5>
							</div>
							<div class="col-sm-4 icons-grid">
									<div class="icon1">
									<i class="fa fa-whatsapp"></i>
									</div>
								<h5>whatsapp</h5>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="posts-grids">
						<h2>Our news</h2>
							<div class="post-grid1">
								<div class="post-pic">
								    <img src="images/n1.jpg" class="img-responsive" alt="">
								</div>
								<div class="post-pic-text">
									<a href="#">Gordon Flash</a>
										<ul class="comt">
											<li><i class="fa fa-camera"></i>camera</li>
											<li><i class="fa fa-users"></i>user</li>
											<li><i class="fa fa-bell"></i>notification</li>
										</ul>
										 <p>In the Ame-Comi Universe, Harley is very muchNeque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur.</p>
								</div>
								<div class="clearfix"></div>
							</div><div class="post-grid1">
								<div class="post-pic">
								    <img src="images/n2.jpg" class="img-responsive" alt="">
								</div>
								<div class="post-pic-text">
									<a href="#">Gordon Flash</a>
										<ul class="comt">
											<li><i class="fa fa-camera"></i>camera</li>
											<li><i class="fa fa-users"></i>user</li>
											<li><i class="fa fa-bell"></i>notification</li>
										</ul>
										 <p>In the Ame-Comi Universe, Harley is very muchNeque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur.</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="post-grid1">
								<div class="post-pic">
								    <img src="images/n3.jpg" class="img-responsive" alt="">
								</div>
								<div class="post-pic-text">
									<a href="#">Gordon Flash</a>
										<ul class="comt">
											<li><i class="fa fa-camera"></i>camera</li>
											<li><i class="fa fa-users"></i>user</li>
											<li><i class="fa fa-bell"></i>notification</li>
										</ul>
										 <p>In the Ame-Comi Universe, Harley is very muchNeque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur.</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="post-grid1">
								<div class="post-pic">
								    <img src="images/n4.jpg" class="img-responsive" alt="">
								</div>
								<div class="post-pic-text">
									<a href="#">Gordon Flash</a>
										<ul class="comt">
											<li><i class="fa fa-camera"></i>camera</li>
											<li><i class="fa fa-users"></i>user</li>
											<li><i class="fa fa-bell"></i>notification</li>
										</ul>
										 <p>In the Ame-Comi Universe, Harley is very muchNeque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur.</p>
								</div>
								<div class="clearfix"></div>
							</div>
										   
					</div>
					<div class="google-map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d130575973.84343986!2d177.81913316568418!3d2.8560417748882556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sin!4v1458889467193"  frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
					<div class="contact">
						<h2>contact</h2>
						<form>
							<input type="text" placeholder="Name" required="">
							<input type="text" class="mail" placeholder="Email" required="">
							<input type="text" placeholder="Phone" required="">
							<textarea placeholder="Message"></textarea>
							<input type="submit" value="send">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
<script src="js/jquery.nicescroll.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>